* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

body .bcg-image {
  height: 100%;
  background-color: rgb(75, 69, 69);
  background-image: url(./images/dragon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body .bcg-image header {
  display: inline;
}

body .bcg-image header .burger-menu {
  position: fixed;
  width: 0px;
}

#hamburger {
  display: none;
}

#hamburger-logo {
  cursor: pointer;
  background: black;
  width: 130px;
  display: block;
  color: white;
  text-align: right;
  transform: translateX(-100px);
  padding: 10px;
}

body .bcg-image header .burger-menu nav {
  background: black;
  overflow: hidden;
  width: 80px;
  transform: translateX(-80px);
}

#hamburger-logo,
nav {
  transition: 0.7s;
}

#hamburger:checked ~ #hamburger-logo,
#hamburger:checked ~ nav {
  transform: translate(0px);
}

body .bcg-image header .burger-menu nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

body .bcg-image header .burger-menu nav a:hover {
  background: #444;
}

body .bcg-image main {
  min-height: 90%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  color: black;
}

body .bcg-image .grand-ecran {
  display: none;
}

body .bcg-image main h1 {
  font-size: 40px;
  align-self: flex-end;
  justify-self: center;
}

body .bcg-image main p {
  font-size: 30px;
  justify-self: center;
}

body .bcg-image footer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

body .bcg-image footer a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 620px) and (max-width: 1200px) {
  body .bcg-image {
    background-image: url(./images/bcgDragon-Kaiba3.png);
  }

  body .bcg-image main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  body .bcg-image main h1 {
    font-size: 60px;
    align-self: auto;
    display: inline-block;
  }

  body .bcg-image main p {
    font-size: 50px;
    display: inline-block;
  }

  body .bcg-image footer a {
    text-decoration: none;
    color: black;
  }

  body .bcg-image footer a {
    font-size: 25px;
  }
}

@media screen and (min-width: 1200px) {
  body .bcg-image {
    background-image: url(./images/3dragon.jpg);
  }

  body .bcg-image header .burger-menu {
    width: 100%;
    position: relative;
  }

  #hamburger-logo {
    display: none;
  }

  body .bcg-image header .burger-menu nav {
    background: none;
    width: 100%;
    transform: translateX(0);
    display: flex;
    justify-content: space-around;
  }

  body .bcg-image header .burger-menu nav a {
    color: red;
    font-size: 35px;
  }

  body .bcg-image main {
    width: 100%;
    min-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
  }

  body .bcg-image main h1 {
    font-size: 80px;
    align-self: auto;
    display: inline-block;
  }

  body .bcg-image main p {
    font-size: 70px;
    display: inline-block;
  }

  body .bcg-image footer a {
    min-height: 10%;
    color: red;
    font-size: 35px;
  }
}

/* Mise en page CSS pour cartes.html. */

body .bcg-image {
  overflow: auto;
}

body .bcg-image .cartes {
  text-align: center;
  color: white;
}

body .bcg-image main .petit-ecran h1 {
  font-size: 40px;
  padding: 25px;
}

body .bcg-image main .petit-ecran h2 {
  font-size: 25px;
  padding: 25px;
}

body .bcg-image main .petit-ecran img {
  width: 60%;
  margin: auto;
}

body .bcg-image main .petit-ecran video {
  margin: auto;
  width: 80%;
}

body .bcg-image main .petit-ecran p {
  font-size: 15px;
  padding: 25px;
}

@media screen and (min-width: 620px) {
  body .bcg-image header .burger-menu {
    width: 100%;
    position: relative;
  }

  #hamburger-logo {
    display: none;
  }

  body .bcg-image header .burger-menu nav {
    background: none;
    width: 100%;
    transform: translateX(0);
    display: flex;
    justify-content: space-around;
  }

  body .bcg-image header .burger-menu nav a {
    color: red;
    font-size: 35px;
  }
  body .bcg-image main .petit-ecran {
    display: none;
  }

  body .bcg-image main .grand-ecran {
    display: block;
    margin: 3%;
  }
  body .bcg-image main .grand-ecran .grand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 2%;
  }

  body .bcg-image main .grand-ecran .grand .grand-ecrit {
    padding: 0% 2%;
  }

  body .bcg-image main .grand-ecran .grand .grand-ecrit p {
    font-size: 16px;
  }

  body .bcg-image main .grand-ecran .grand video {
    width: 30%;
    max-width: 40%;
  }

  body .bcg-image main .grand-ecran .triangle {
    cursor: pointer;
    margin: -20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "bottom1 up1 bottom2"
      "empty1 bottom3 empty2";
  }
  body .bcg-image main .grand-ecran .triangle .bottom1 {
    grid-area: bottom1;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 50%, 100% 50%, 50% 100%);
    justify-self: flex-end;
    align-self: flex-end;
    transform: translateX(50%);
  }

  body .bcg-image main .grand-ecran .triangle .bottom1 img {
    width: 100%;
    height: 100%;
    transform: translateY(40%);
  }

  body .bcg-image main .grand-ecran .up1 {
    grid-area: up1;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
    justify-self: flex-end;
    align-self: flex-end;
  }
  body .bcg-image main .grand-ecran .up1 img {
    width: 100%;
    height: 100%;
    transform: translateY(50%);
  }

  body .bcg-image main .grand-ecran .triangle .bottom2 {
    grid-area: bottom2;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 50%, 100% 50%, 50% 100%);
    justify-self: flex-end;
    overflow: hidden;
    align-self: flex-end;
    transform: translateX(-50%);
  }

  body .bcg-image main .grand-ecran .triangle .bottom2 img {
    width: 100%;
    height: 100%;
    transform: translateY(50%);
  }

  body .bcg-image main .grand-ecran .triangle .empty1 {
    grid-area: empty1;
  }

  body .bcg-image main .grand-ecran .triangle .bottom3 img {
    grid-area: bottom3;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 50% 50%);
    justify-self: flex-end;
    overflow: hidden;
  }

  body .bcg-image main .grand-ecran .triangle .bottom3 img {
    width: 100%;
    height: 100%;
  }

  body .bcg-image main .grand-ecran .triangle .empty2 {
    grid-area: empty2;
  }

  body .bcg-image main .grand-ecran .triangle:hover {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
  }

  body .bcg-image main .grand-ecran .full-triangle {
    margin: auto;
    margin-bottom: -50%;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: hidden;
    clip-path: polygon(50% 0%, 0% 40%, 0% 85%, 50% 100%, 100% 85%, 100% 40%);
    transform: translateY(-100%);
  }

  body .bcg-image main .grand-ecran .full-triangle img {
    width: 100%;
    height: 100%;
  }
  body .bcg-image main .grand-ecran .triangle:hover ~ .full-triangle {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease-in-out, visibility 0.3s ease-in-out;
  }
}

/* Mise en page CSS pour yugi.html. */
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

body .yugi {
  width: 80%;
  clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
}

body .yugi img {
  width: 100%;
  height: 100%;
}

body .pegasus {
  width: 80%;
  clip-path: polygon(
    50% 0%,
    69% 25%,
    98% 35%,
    81% 64%,
    83% 100%,
    50% 84%,
    15% 100%,
    20% 61%,
    2% 35%,
    29% 25%
  );
}

body .pegasus img {
  width: 100%;
  height: 100%;
}
body .dartz {
  width: 80%;
  clip-path: polygon(
    50% 0%,
    89% 8%,
    100% 33%,
    100% 70%,
    89% 94%,
    50% 100%,
    33% 77%,
    0 87%,
    0 17%,
    29% 23%
  );
}
body .dartz img {
  width: 100%;
  height: 100%;
}

body .noah {
  width: 80%;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

body .noah img {
  width: 100%;
  height: 100%;
}
